body {
 font-size: 16px;
}

#section-container {
    width: 100%;
       height: 1600px;

}



.h-wrap {
    position: relative;
    width: 100%;
    height: 180px;
    background: url("../images/lib01.jpg") no-repeat 50%;
    background-size: 100%;
}
.h-wrap img {
    width: 100%;
    height: auto;
}
.section {
    padding-top: 10px;
    width: 1260px;
    margin: 0 auto;
}
.section .lnb {
    width: 280px;
    z-index: 9999;
    position: relative;
    float: left;
   
   
}
.section .lnb h2 {
    margin-top: -190px;
    display: block;
    background : url("../images/myLib.png") no-repeat center center;
  
}
.section .lnb b {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 70px 0;
    margin : 0;
    text-align: center;
    font-weight: bold;
}

.bok-info{
    width: 100%;
    height: 59px;
    position: relative;
    top: -10px;
    background-color: #f0f1f3;
    line-height: 59px;    
}
.bok-in {
    width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.show-book {
    width: 100%;
  
   
}
.show-book .show-book-in {
    width: 1100px;
    margin: 0 auto;
    border-bottom: 1px solid #7c7a7a;
}
.show-book-in h3 {
    font-size: 28px;
    font-weight: bold;
    padding : 15px 15px 15px;
  
}
.show-book .con-search {
    width: 800px;
    margin: 30px auto;
    margin-bottom: 30px;
}
.con-search {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.con-search div {
    color: #220202;
    border : 1px solid #8d8989;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}
.con-search div:hover {
    background-color: #8fa768;
    color: #fff;
}
.con-book-list {
    position: relative;
    width: 1170px;
    margin: 15px auto;
    
}

/* 책정보 출력하는공간 */
.sub {
    width: 550px;
    height: 150px;
    padding : 15px;
    border : 1px solid #949292;
    border-radius: 7px;
    display: inline-block;

}
.sub-left {
    float: left;
    margin-right: 20px;
    width: 120px;
    height: 150px;
}

.sub img {
    width: 100%;
}
.sub img {
    max-width: 100%;
    max-height: 100%;
}

.sub .sub-box-left {
    float: left;
    width: 380px;
    display: block;
}
.clip span {
    color : #e84e0e;
    font-weight: 500;
}
.clip p {
    font-size: 18px;
    line-height: 180%;
}

.sub-box-left .text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    text-overflow: ellipsis;
    text-align: center;
    letter-spacing: -0.02em;
}


.lnb > ul > li{
    border-bottom: 1px solid #d9d9d9; 
     
}
.lnb ul li.active > a{
    background-color: #1A73E8;
    color : #fff;
    position: relative;
}


.lnb > ul > li > a{
    font-size: 14px;
    font-weight: bold;
    padding : 12px 20px 10px 15px;
    display: block;
}

.lnb>ul>li>ul {
    background: #f7f7f7;
    padding: 5px 0 10px;
}

.lnb>ul>li>ul>li>a {
    padding :5px 20px 5px 30px;
}
.lnb ul ul li.active > a{
    background-color: #f7f7f7;
    color : #003b9d;
    font-weight: bold;
}
.lnb>ul>li>ul>li>a {
    padding: 5px 20px 5px 30px;
}

.lnb>ul>li.active>ul {
    display: block;
}

.lnb a {
    display: block;
    color: #4c4c4c;
}

.bar-btns{
    position: relative;
    font-size: 18px;
    top: 0px;
    text-align: center;
    
}
.bar-btns a{
    color : #000;
}




footer {
    margin-top: 60px;
    padding : 0 0 70px;
    background-color: #2f2f2f;
}

.f-top {
    height: 54px;
    padding : 25px 0;
    border-bottom: 1px solid #666;
    

}
.f-top-in {
    width: 1200px;
    margin: 0 auto;
    background-color: blueviolet;
}
.f-top-in .f-in-list {
    float: left;
}
.f-top-in .f-in-list li {
    display: inline-block;
    padding : 0 20px;
}
.f-top-in .f-in-list li a {
    display: block;
    padding : 15px;
    font-size: 16.5px;
    font-weight: 600;
}
.f-top-in .f-in-list li span {
    color : #f1d57e;
}

.f-bootom {
    padding : 23px 0 0;

}

.f-bootom .btn-wrap {
    position: fixed;
    font-size: 20px;
    transition: opacity .8s;
    z-index: 1000;
    right: 45px;
    bottom: 40px;
    opacity: 1;
   
}
.f-bootom .btn-wrap > a {
    display: inline-block;
    width: 45px;
    height: 38px;
    padding : 7px 0 0;
    text-align: center;
    line-height: 38px;
    opacity: .8;
    border-radius: 6px;
 
}
.f-bootom .btn-wrap > a > img{
    width: 100%;
    height: 100%;
    color: blue;
}
