body {
 font-size: 16px;
}

#section-container {
    width: 100%;
    height: 800px;

}


.h-wrap {
    position: relative;
    width: 100%;
    height: 180px;
    background: url("../images/lib01.jpg") no-repeat 50%;
    background-size: 100%;
}
.h-wrap img {
    width: 100%;
    height: auto;
}
.section {
    padding-top: 10px;
    width: 1260px;
    margin: 0 auto;
}
.section .lnb {
    padding : 0 0 60px;
    width: 280px;
    z-index: 9999;
    position: relative;
    float: left;
   
   
}
.section .lnb h2 {
    margin-top: -190px;
    display: block;
    background : url("../images/myLib.png") no-repeat center center;
  
}
.section .lnb b {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 73px 0;
    margin : 0;
    text-align: center;
    font-weight: bold;
}



.lnb > ul > li{
    border-bottom: 1px solid #d9d9d9; 
     
}
.lnb ul li.active > a{
    background-color: #1A73E8;
    color : #fff;
    position: relative;
}


.lnb > ul > li > a{
    font-size: 14px;
    font-weight: bold;
    padding : 12px 20px 10px 15px;
    display: block;
}

.lnb>ul>li>ul {
    background: #f7f7f7;
    padding: 5px 0 10px;
}

.lnb>ul>li>ul>li>a {
    padding :5px 20px 5px 30px;
}
.lnb ul ul li.active > a{
    background-color: #f7f7f7;
    color : #003b9d;
    font-weight: bold;
}
.lnb>ul>li>ul>li>a {
    padding: 5px 20px 5px 30px;
}

.lnb>ul>li.active>ul {
    display: block;
}

.lnb a {
    display: block;
    color: #4c4c4c;
}


footer {
    margin-top: 60px;
    padding : 0 0 70px;
    background-color: #2f2f2f;
}

.f-top {
    height: 54px;
    padding : 25px 0;
    border-bottom: 1px solid #666;
    

}
.f-top-in {
    width: 1200px;
    margin: 0 auto;
    background-color: blueviolet;
}
.f-top-in .f-in-list {
    float: left;
}
.f-top-in .f-in-list li {
    display: inline-block;
    padding : 0 20px;
}
.f-top-in .f-in-list li a {
    display: block;
    padding : 15px;
    font-size: 16.5px;
    font-weight: 600;
}
.f-top-in .f-in-list li span {
    color : #f1d57e;
}

.f-bootom {
    padding : 23px 0 0;

}

.f-bootom .btn-wrap {
    position: fixed;
    font-size: 20px;
    transition: opacity .8s;
    z-index: 1000;
    right: 45px;
    bottom: 40px;
    opacity: 1;
   
}
.f-bootom .btn-wrap > a {
    display: inline-block;
    width: 45px;
    height: 38px;
    padding : 7px 0 0;
    text-align: center;
    line-height: 38px;
    opacity: .8;
    border-radius: 6px;
 
}
.f-bootom .btn-wrap > a > img{
    width: 100%;
    height: 100%;
    color: blue;
}
