body {
 font-size: 16px;
}

#section-container {
    width: 100%;
    height: 1500px;

}


.h-wrap {
    position: relative;
    width: 100%;
    height: 180px;
    background: url("/image/lib01.jpg") no-repeat 50%;
    background-size: 100%;
}
.h-wrap img {
    width: 100%;
    height: auto;
}
.section {
    padding-top: 10px;
    width: 1260px;
    margin: 0 auto;
}
.section .lnb {
    width: 280px;
    z-index: 9999;
    position: relative;
    float: left;
   
   
}
.section .lnb h2 {
    margin-top: -190px;
    display: block;
    background : url("/image/myLib.png") no-repeat center center;
  
}
.section .lnb b {
    display: block;
    color: #fff;
    font-size: 30px;
    padding: 70px 0;
    margin : 0;
    text-align: center;
    font-weight: bold;
}

.bok-info{
    width: 100%;
    height: 59px;
    position: relative;
    top: -10px;
    background-color: #f0f1f3;
    line-height: 59px;    
}
.bok-in {
    width: 1260px;
    margin: 0 auto;
    text-align: center;
}
.show-search {
    width: 100%;
    margin-bottom: 30px;
}
.show-search .show-search-in {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px dashed #ddd;
    padding: 15px 0 10px;
}
.show-search .show-search-in > h3 {
    font-size: 35px;
    font-weight: bold;
}

.show-search-view {
    width: 1000px;
    margin: 0 auto;
    border-top: 1px dashed #ddd;
}

.search-input {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;

}
.search-input span {
    display: block;
    padding-right: 140px;
}
.search-input input {
    width: 100%;
    height: 67px;
    border: 1px solid #a3a3a3;
    text-indent: 10px;
    font-size: 20px;
}
.search-input a {
    position: absolute;
    top: 174px;
    right: 250px;
    width: 130px;
    height: 68px;
    font-size: 21px;
    text-align: center;
    line-height: 68px;
    background-color: rgb(17, 6, 80);
}

.search-box {
    width: 1000px;
    height: 120px;
    background-color: slateblue;
}

.search-header {
    border-top: 2px solid #666;
    border-bottom: 1px solid #666;
}
input[type = "checkbox"] {
    padding : 0;
    border-radius: 0;
    box-sizing: border-box;
}

.button.put {
    background-image: url("https://library.gangnam.go.kr/include/booksearch/image/button/btn_func1.png");
}

.button.move {
    background-image: url("https://library.gangnam.go.kr/include/booksearch/image/button/btn_func2.png");
}

.button{
    display: inline-block;
    height: 25px;
    margin: 2px;
    padding : 0 5px 0 22px;
    font-size: 0.8rem;
    line-height: 25px;
    vertical-align: middle;
    border : 1px solid #d2d2d2;
    border-radius: 3px;
    background-color: #fff;
    font-weight: bold;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

.search-header a {
    color : #000;
}

.book-result li{
    height: 178px;
    padding : 15px 0;
    border-bottom: 1px solid #c5c5c5;
}
.book-result .chk {
    position: relative;
    top: -140px;

}
.thmb {
    display: inline-block;
    width: 110px;
    height: 150px;
    margin-top: 8px;
}
.thmb .book-cover-img {
    display: block;
    width: 110px;
    height: 150px;
}
.thmb .book-cover-img img {
    width: 100%;
    height: 100%;
    border : 1px solid #969696;
}
.book-clip {
    position: relative;
    top : -40px;
    left: 17px;
    display: inline-block;
    width: 600px;
    line-height: 150%;
}
.brow-book-view {
    position: relative;
    top: -47px;
    left: 150px;
    display: inline-block;
    width: 850px;
    height: 40px;
    background-color: #f2f2f2;
}
.brow-book-view > span{
    margin-left: 30px;
}
.brow-book-view  span > a{
    position: relative;
    top: -11px;
    left: -23px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
}
.brow-btn {
    color :#160f3d;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
.brow-book-btn {
    position: relative;
    top: -80px;
    float:right;
}
.brow-book-btn .brow-btn{
    padding : 25px;
    font-size: 15px
}
.brow-btn:hover {
    background-color: #928f8f;
    color: #fff;
 
}






footer {
    margin-top: 60px;
    padding : 0 0 70px;
    background-color: #2f2f2f;
}

.f-top {
    height: 54px;
    padding : 25px 0;
    border-bottom: 1px dashed #666;
    

}
.f-top-in {
    width: 1200px;
    margin: 0 auto;
    background-color: blueviolet;
}
.f-top-in .f-in-list {
    float: left;
}
.f-top-in .f-in-list li {
    display: inline-block;
    padding : 0 20px;
}
.f-top-in .f-in-list li a {
    display: block;
    padding : 15px;
    font-size: 16.5px;
    font-weight: 600;
}
.f-top-in .f-in-list li span {
    color : #f1d57e;
}

.f-bootom {
    padding : 23px 0 0;

}

.f-bootom .btn-wrap {
    position: fixed;
    font-size: 20px;
    transition: opacity .8s;
    z-index: 1000;
    right: 45px;
    bottom: 40px;
    opacity: 1;
   
}
.f-bootom .btn-wrap > a {
    display: inline-block;
    width: 45px;
    height: 38px;
    padding : 7px 0 0;
    text-align: center;
    line-height: 38px;
    opacity: .8;
    border-radius: 6px;
 
}
.f-bootom .btn-wrap > a > img{
    width: 100%;
    height: 100%;
    color: blue;
}
