/* ����蟯�覲� 覃��� �����伎��*/
.end {clear:both}
.curation-section {width:1260px;margin:0 auto}
.main9 {clear:both;position:relative;margin:0 0 30px 0;height:100%;background:#fff;border:1px solid #ddd}
.row.row3 {height:auto;box-sizing:border-box;position:relative;padding-left:20px;padding-right:20px;}
.row.row3 .title {position:absolute;left:0;font-size:15px;height:auto;padding:15px 0 0 20px;margin: 2px 0 5px 2px;z-index: 99999;border:0;display: inline-block;font-weight: bold;box-sizing:border-box;}

.book-list-section{padding:55px 20px 15px}

.main9 .h2{font-size:16px;color:#000;font-weight:bold;border-bottom:1px solid #dfe3ec; padding-bottom:0.5em}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0 }
.col-sm-3 { width:25%;float:left;box-sizing:border-box; }
.main9 .row3 .thumbnail {height: 250px;overflow:hidden;margin-bottom:5px;padding:0;border:1px solid #dddddd;border-radius:0;}
.thumbnail {display: block;padding: 4px;margin-bottom: 20px;line-height: 1.42857143;background-color: #fff;border:1px solid #ddd;border-radius: 0;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out;}
.row3 .thumbnail > img, .row3 .thumbnail a > img {height:100%;width:100%;}
.main9 .row3 .book-list-section h3.book-title {height:20px;width: 100%;word-break: break-all;margin-bottom: 10px;margin-top: 10px;/* white-space: nowrap; */max-height: 35px;overflow: hidden;text-overflow: ellipsis;color:#000;font-weight:bold;}
.row3 .book-list-section p.book-desc {height:80px;width:100%;word-break:break-all;max-height:50px;font-size:0.85em;overflow:hidden;text-overflow:ellipsis;}
.dgst-main p {margin: 0 0 10px;}
.main9 .row3 .book-info {color:#1598dc;display: block;font-size: 0.9em;}

.main9 .bx-controls-direction {position:absolute;top:15px;right:15px;}
.main9 .bx-controls-direction a {font-size:0;}
.main9 .bx-controls-direction a:before {text-align:center;padding:10px 6px;font:normal normal normal 12px/1 FontAwesome;display:inline-block;width:30px;height:30px;
color:#7c7c7c;margin-left:1px;box-sizing:border-box;}
.main9 .bx-controls-direction a.bx-prev:before {content:"\f053";}
.main9 .bx-controls-direction a.bx-next:before {content:"\f054";}

@media all and (max-width:1160px)
{
	.curation-section {width:100%}
}

@media all and (max-width:768px)
{
	.row.row3 {padding-left:0;padding-right:0;}
	.col-sm-3 {width:50%;}
	.book-list-section{padding:55px 15px 15px}
	.main9 .row3 .thumbnail {height:385px;}
}

@media all and (max-width:670px){
	.col-sm-3 {width:50%;}
	.main9 .row3 .thumbnail {height:330px;}
}

@media all and (max-width:540px){
	.main9 .row3 .thumbnail {height:280px;}
}

@media all and (max-width:425px)
{
	.main9 .row3 .thumbnail {height:220px;}
	.thumbnail {margin-bottom:10px;}
}

@media all and (max-width:375px)
{
	.main9 .row3 .thumbnail {height:185px;}
}

@media all and (max-width:320px)
{
	.main9 .row3 .thumbnail {height:170px;}
}